.text-on-nav {
    float: right;
    display: inline-block;
    height: 34px;
}
.avatar-on-nav {
    object-fit: cover;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.name-nav {
    color: white;
    font-size: 15px;
}
.dropdown-toggle {
    text-decoration: none;
}
.dropdown-toggle:hover {
    text-decoration: none;
}


.new {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.hot {
    font-size: 25px;
    color: #e71246;
}
.new:hover {
    text-decoration: none;
    color: #d4d4d4;
}
.hot:hover {
    text-decoration: none;
    font-size: 25px;
    color: rgba(255, 19, 77, 0.61);
}


.media-heading {
    color: black;
    font-size: 30px;
}

.avatar-on-ques {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.btn-danger {
    background-color: #e71246;
    border: 1px solid #e71246;
}

.btn-danger:hover{
    background-color: #b10e36;
    border: 1px solid #b10e36;
}

.btn-danger a {
    text-decoration: none;
    color: white;
}