/* header-title*/

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    text-decoration: none;
    font-size: 25px;
    color: white;
    border: 1px solid #e71246;
    background-color: #e71246;
    padding: 8px;
    border-radius: 8px;
}
.nav-pills a {
    color: black;
}

/* question block */

.avatar-on-post {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.bor {
    border: 1px solid #f2f2f2;
    padding: 20px;
    border-radius: 7px;
}
.content {
    font-size: 15px;
}
.likes {
    margin-top: 10px;
    float: right;
}
.media-heading {
    color: black;
    font-size: 23px;
}

/* tags in question block */

.btn-danger {
    background-color: #e71246;
    border: 1px solid #e71246;
}
.btn-danger:hover{
    background-color: #b10e36;
    border: 1px solid #b10e36;
}
.btn-danger a {
    text-decoration: none;
    color: white;
}
