.text-on-nav {
    float: right;
    display: inline-block;
    height: 34px;
}
.avatar-on-nav {
    object-fit: cover;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.name-nav {
    color: white;
    font-size: 15px;
}
.dropdown-toggle {
    text-decoration: none;
}
.dropdown-toggle:hover {
    text-decoration: none;
}