.img-wrap {
    margin-right: 15px;
}
.text-on-nav {
    float: right;
    display: inline-block;
    height: 34px;
}
.avatar-on-nav {
    height: 34px;
}
.name-nav {
    color: white;
    font-size: 15px;
}


.new {
    text-decoration: none;
    color: black;
}
.hot {
    font-size: 25px;
}

.media-heading {
    color: black;
    font-size: 30px;
}
.tags {
    margin-left: 50px;
}