{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'src/icon.png' %}" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Ask me</title>
    {% block styles %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 30px; font-family: 'Ubuntu Mono'; font-weight: bold" href="/">AskMe</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav">
                    <ul class="navbar-form navbar-left">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="search-icon glyphicon glyphicon-search"></i>
                            </div>
                            <input type="text" class="form-control search-query">
                        </div>
                    </ul>
                </ul>

                {% if user.is_authenticated %}
                    <ul class="navbar-form navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img class="avatar-on-nav" src="/media/{{ user.upload }}">
                                <span class="name-nav">
                                    {{ user.first_name }} {{ user.last_name }} [{{ user.username }}]
                                </span>
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="{% url 'settings' %}">Settings</a></li>
                                <li><a href="/signout/?from={{ request.get_full_path }}">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'signin' %}"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
                        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
                    </ul>
                {% endif %}

                <ul class="navbar-form"><a href="{% url 'new_question' %}"><button type="button" class="btn btn-success">ASK!</button></a></ul>

            </div>
        </div>
    </nav>


    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12">
                    {% block headerName %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-12 col-md-10">
            {% block messages %}
                <div class="main">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                <p>{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <div class="alert alert-danger" role="alert">
                                <p>{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                <p>{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

        <div class="col-6 col-md-2 ">
            <div class="well well-sm">
                <div class="popular">
                    <h4>Popular</h4>
                </div> <hr>
                    <a class="tag1" href="#">Technopark</a>
                    <a class="tag2" href="#">Perl</a>
                    <a class="tag3" href="#">Django</a>
                    <a class="tag6" href="#">C++</a>
                    <a class="tag4" href="#">Linux</a>
                    <a class="tag5" href="#">Algorithms</a>
                    <a class="tag7" href="#">Go</a>
                    <a class="tag8" href="#">Python</a>
            </div>

            <div class="well well-sm">
                <div class="popular">
                    <h4>Top People</h4>
                </div> <hr>

                <ul>
                    <li><a class="peo" href="#">Paul Durov</a></li>
                    <li><a class="peo" href="#">Mark Zuckerberg</a></li>
                    <li><a class="peo" href="#">Vladimir Putin</a></li>
                    <li><a class="peo" href="#">Will Smith</a></li>
                    <li><a class="peo" href="#">Daniel Lee</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block footer %}
    {% endblock %}

</body>
</html>
