{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block headerName %}
        <h3>
            <ul class="nav nav-pills">
                {% for header in headers %}
                    {% if header.is_active %}
                        <li class="active"><a href="{% url header.url %}" >{{ header.title }}</a></li>
                    {% else %}
                        <li><a href="{% url header.url %}" >{{ header.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </h3>
{% endblock %}

{% block content %}

    {% for question in questions %}
        <div class="masthead-lead">
            <div class="media">

                <div class="media-left">
                    <a href="{% url 'profile' question.author.username %}">
                        <img src="/media/{{ question.author.upload }}" class="avatar-on-post">
                    </a> <br><br>
                </div>

                <div class="media-body">
                    <a href="{% url 'question' question.id %}"><h4 class="media-heading">{{ question.title }}</h4></a>
                    <small >
                        <i style="font-size: small; font-weight: bold">{{ question.author.first_name }} {{ question.author.last_name }}</i>
                        <i style="font-size: small">Posted {{ question.date }}</i>
                    </small>
                    <br><br>

                    <p class="content">{{ question.text | truncatechars:300 }}</p>
                    <br>

                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag.name %}" style="text-decoration: none">
                            <button type="button" class="btn btn-primary btn-xs">{{ tag.name }}</button>
                        </a>
                    {% endfor %}

                    <div class="likes">
                        <button type="button" class="btn btn-success btn-sm" data-id="{{ question.id }}" data-type="question" data-action="like" title="Like">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span data-count="like">{{ question.votes.likes.count }}</span>
                        </button>

                        <button type="button" class="btn btn-danger btn-sm dislike-color" data-id="{{ question.id }}" data-type="question" data-action="dislike" title="Dislike">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            <span data-count="dislike">{{ question.votes.dislikes.count }}</span>
                        </button>
                    </div>
              </div>

            </div>
            <br>
            <hr class="masthead-hr">
        </div>
    {% endfor %}

{% endblock %}

{% block footer %}
    {% if questions.has_next %}
        <div class="container">
            <ul class="pagination">
                {% if questions.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ questions.previous_page_number }}">Back</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Back</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="#">{{ questions.number }} <span class="sr-only">(current)</span></a>
                </li>

                {% if questions.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ questions.next_page_number }}">{{ questions.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ questions.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}