{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block headerName %}
        <h3>
            {% for header in headers %}
                <a class="{{ header.class }}" href="{% url header.url %}" >{{ header.title }}</a>
            {% endfor %}
        </h3>
{% endblock %}

{% block is_auth %}
    <ul class="navbar-form navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <img class="avatar-on-nav" src="{% static 'src/dog.jpg' %}">
                <span class="name-nav">
                    W. Smith
                </span>
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="{% url 'settings' %}">Settings</a></li>
                <li><a href="#">Sign out</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}

    {% for question in questions %}
        <div class="masthead-lead">
            <div class="media">

                <div class="media-left">
                    <a href="#">
                        <img src="{% static question.author.upload %}" class="avatar-on-post">
                    </a> <br><br>
                </div>

                <div class="media-body">
                    <a href="{% url 'question' question.id %}"><h4 class="media-heading">{{ question.title }}</h4></a>
                    <small >
                        <i style="font-size: small; font-weight: bold">{{ question.author.first_name }} {{ question.author.last_name }}</i>
                        <i style="font-size: small">Posted {{ question.date }}</i>
                    </small>
                    <br><br>

                    <p class="content">{{ question.text }}</p>
                    <br>

                    {% for tag in question.tags.all %}
                        <span>
                            <button type="button" class="btn btn-danger btn-xs"><a href="{% url 'tag' tag.name %}">{{ tag.name }}</a></button>
                        </span>
                    {% endfor %}

                    <span style="float: right">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-thumbs-up"></span> {{ question.rating }}
                        </button>

                        <button type="button" class=" btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-thumbs-down"></span> {{ question.rating }}
                        </button>
                    </span>
              </div>

            </div>
            <br>
            <hr class="masthead-hr">
        </div>
    {% endfor %}

{% endblock %}

{% block footer %}
    <div class="container">
          <ul class="pagination">
              {% if questions.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ questions.previous_page_number }}">Back</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Back</a>
                  </li>
              {% endif %}

              <li class="page-item active">
                  <a class="page-link" href="#">{{ questions.number }} <span class="sr-only">(current)</span></a>
              </li>

              {% if questions.has_next %}
                  <li class="page-item">
                      <a class="page-link"
                                         href="?page={{ questions.next_page_number }}">{{ questions.next_page_number }}</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ questions.next_page_number }}">Next</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#">Next</a>
                  </li>
              {% endif %}
          </ul>
    </div>
{% endblock %}