{% extends "base.html" %}
{% load static %}


{% block headerName %}
    <h1>New Question</h1>
{% endblock %}

{% block is_auth %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
        <li><a href="{% url 'registration' %}"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
    </ul>
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="#" method="post">
        {% csrf_token %}
        <div class="col-md-12">
            <fieldset>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title">
                </div>

                <div class="form-group">
                    <label for="text">Text:</label>
                    <textarea name="text_block" cols="40" rows="3" id="text" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="tags">Tags:</label>
                    <input type="text" class="form-control" id="tags">
                </div>

                <div class="form-group">
                    <input type="submit" value="ASK!" class="btn btn-success"/>
                </div>
            </fieldset>
        </div>
    </form>
{% endblock %}