{% extends "base.html" %}
{% load static %}

{% block headerName %}
    <h2>New Question</h2>
{% endblock %}

{% block messages %}
    <div class="main">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="#" method="post">
        {% csrf_token %}
        <div class="col-md-12">
            <fieldset>

                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <input type="submit" value="ASK!" class="btn btn-success"/>
                </div>
            </fieldset>
        </div>
    </form>
{% endblock %}