{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}


{% block headerName %}
    <h3><a class="new">New Questions</a> <a class="hot">Hot Questions</a></h3>
{% endblock %}


{% block is_auth %}
    <ul class="navbar-form navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <img class="avatar-on-nav" src="{% static 'src/dog.jpg' %}">
                <span class="name-nav">
                    W. Smith
                </span>
                <span class="caret">
                </span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="{% url 'settings' %}">Settings</a></li>
              <li><a href="#">Sign out</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}


{% block content %}
        <div class="masthead-lead">
            <div class="media">

                  <div class="media-left">
                    <a href="#">
                      <img src="{% static 'src/dog.jpg' %}" width="70">
                    </a> <br><br>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like  5
                    </button>
                  </div>

                  <div class="media-body">
                      <a><h4 class="media-heading header-ques">To be or not to be?</a>
                      <small >
                        <i style="font-size: small">Posted 22.02.2018</i>
                      </small>
                      </h4>
                      <br>
                      <p><a href="#"></a></p>

                      <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
                      <br>
                      <span><a>Answer(3)</a></span>
                      <span class="tags">Tags: <a>bender</a> <a>black-jack</a></span>
                  </div>

            </div>
            <br>
            <hr class="masthead-hr">
        </div>

        <div class="masthead-lead">
            <div class="media">

                  <div class="media-left">
                    <a href="#">
                      <img src="{% static 'src/dog.jpg' %}" width="70">
                    </a> <br><br>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like  5
                    </button>
                  </div>

                  <div class="media-body">
                      <a><h4 class="media-heading">To be or not to be?</a>
                      <small >
                        <i style="font-size: small">Posted 22.02.2018</i>
                      </small>
                      </h4>
                      <br>
                      <p><a href="#"></a></p>

                      <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
                      <br>
                      <span><a>Answer(3)</a></span>
                      <span class="tags">Tags: <a>bender</a> <a>black-jack</a></span>
                  </div>

            </div>
            <br>
            <hr class="masthead-hr">
        </div>

        <div class="masthead-lead">
            <div class="media">

                  <div class="media-left">
                    <a href="#">
                      <img src="{% static 'src/dog.jpg' %}" width="70">
                    </a> <br><br>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like  5
                    </button>
                  </div>

                  <div class="media-body">
                      <a><h4 class="media-heading header-ques">To be or not to be?</a>
                      <small >
                        <i style="font-size: small">Posted 22.02.2018</i>
                      </small>
                      </h4>
                      <br>
                      <p><a href="#"></a></p>

                      <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
                      <br>
                      <span><a>Answer(3)</a></span>
                      <span class="tags">Tags: <a>bender</a> <a>black-jack</a></span>
                  </div>

            </div>
            <br>
            <hr class="masthead-hr">
        </div>
{% endblock %}

{% block footer %}
    <div class="container">
          <ul class="pagination">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">53</a></li>
            <li><a href="#">»</a></li>
          </ul>
    </div>
{% endblock %}