{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block is_auth %}
    <ul class="navbar-form navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <img class="avatar-on-nav" src="{% static 'src/dog.jpg' %}">
                <span class="name-nav">
                    W. Smith
                </span>
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="{% url 'settings' %}">Settings</a></li>
              <li><a href="#">Sign out</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="masthead-lead">
        <div class="media bor">

            <div class="media-left">
                <a href="#">
                    <img src="{% static 'src/dog.jpg' %}" class="avatar-on-post">
                </a>
            </div>

            <div class="media-body">
                <a href="{% url 'question' question.id %}"><h4 class="media-heading">{{ question.title }}</h4></a>
                <small >
                    <i style="font-size: small; font-weight: bold">W. Smith</i>
                    <i style="font-size: small">Posted 22.02.2018</i>
                </small>
                <br><br>

                <p class="content">{{ question.content }}</p>
                <br>


                <span>
                    <button type="button" class="btn btn-danger btn-xs"><a>#black-jack</a></button>
                    <button type="button" class="btn btn-danger btn-xs"><a>#bender</a></button>
                </span>

                <span style="float: right">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> {{ question.id }}
                    </button>

                    <button type="button" class=" btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-down"></span> {{ question.id }}
                    </button>
                </span>
            </div>

        </div>
        <br>
        <hr class="masthead-hr">
    </div>

    <h2>Answers</h2> <br>

    <div class="masthead-lead">
        <div class="media">

            <div class="media-left">
                <a href="#">
                    <img src="{% static 'src/dog.jpg' %}" class="avatar-on-post">
                </a>
            </div>

            <div class="media-body">
                <small >
                    <i style="font-size: small; font-weight: bold">W. Smith</i>
                    <i style="font-size: small">Posted 22.02.2018</i>
                </small>
                <br><br>

                <p class="content">{{ question.content }}</p>
                <br>

                <span style="float: right">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span> {{ question.id }}
                    </button>

                    <button type="button" class=" btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-thumbs-down"></span> {{ question.id }}
                    </button>
                </span>
            </div>
        </div>
    </div>

    <br><hr class="masthead-hr">

    <form class="form-horizontal" action="#" method="post">
        {% csrf_token %}
        <div class="col-md-12">
            <fieldset>

                <div class="form-group">
                    <label for="text">Text:</label>
                    <textarea name="text_block" cols="40" rows="5" id="text" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" value="Answer!" class="btn btn-success"/>
                </div>

            </fieldset>
        </div>
    </form>

{% endblock %}