{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block content %}
    <div class="masthead-lead">
        <div class="media bor">

            <div class="media-left">
                <a href="{% url 'profile' question.author.username %}">
                    <img src="/media/{{ question.author.upload }}" class="avatar-on-post">
                </a>
            </div>

            <div class="media-body">
                <a href="{% url 'question' question.id %}"><h4 class="media-heading">{{ question.title }}</h4></a>

                {% if user.id == question.author.id%}
                    <div class="delete-button">
                        <form action="{% url 'delete_question' %}" method="post">
                           {% csrf_token %}
                            <input type="hidden" name="question_id" value="{{ question.id }}"/>
                            <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                        </form>
                    </div>
                {% endif %}

                <small >
                    <i style="font-size: small; font-weight: bold">{{ question.author.first_name}} {{ question.author.last_name }}</i>
                    <i style="font-size: small">Posted {{ question.date }}</i>
                </small>
                <br><br>

                <p class="content">{{ question.text }}</p> <br>

                {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag.name %}" style="text-decoration: none">
                        <button type="button" class="btn btn-primary btn-xs">{{ tag.name }}</button>
                    </a>
                {% endfor %}

                <div class="likes">
                    <button type="button" class="btn btn-default btn-sm" data-id="{{ question.id }}" data-type="question" data-action="like" title="Like">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span data-count="like">{{ question.votes.likes.count }}</span>
                    </button>

                    <button type="button" class="btn btn-default btn-sm" data-id="{{ question.id }}" data-type="question" data-action="dislike" title="Dislike">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        <span data-count="dislike">{{ question.votes.dislikes.count }}</span>
                    </button>
                </div>
            </div>

        </div>
        <br>
            <a href="/question/{{ question.id }}/answer/"><button type="button" class="btn btn-info">ANSWER!</button></a>
        <br>
        <hr class="masthead-hr">
    </div>

    <h2>Answers</h2> <br>

    {% for answer in answers %}
        <div class="masthead-lead">
            <div id="{{ answer.id }}" class="media">

                <div class="media-left">
                    <a href="{% url 'profile' answer.author.username %}">
                        <img src="/media/{{ answer.author.upload }}" class="avatar-on-post">
                    </a>
                </div>

                <div class="media-body">

                    {% if user.id == answer.author.id%}
                        <div class="delete-button">
                            <form action="{% url 'delete_answer' %}" method="post">
                               {% csrf_token %}
                                <input type="hidden" name="answer_id" value="{{ answer.id }}"/>
                                <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                            </form>
                        </div>
                    {% endif %}

                    <small >
                        <i style="font-size: small; font-weight: bold">{{ answer.author.first_name}} {{ answer.author.last_name }}</i>
                        <i style="font-size: small">Posted {{ answer.date }}</i>
                    </small>
                    <br><br>

                    <p class="content">{{ answer.text }}</p>
                    <br>

                    <div class="likes">
                        <button type="button" class="btn btn-default btn-sm" data-id="{{ answer.id }}" data-type="answer" data-action="like" title="Like">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span data-count="like">{{ answer.votes.likes.count }}</span>
                        </button>

                        <button type="button" class="btn btn-default btn-sm" data-id="{{ answer.id }}" data-type="answer" data-action="dislike" title="Dislike">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            <span data-count="dislike">{{ answer.votes.dislikes.count }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="masthead-hr">
    {% endfor %}
{% endblock %}


{% block footer %}
    <div class="container">
          <ul class="pagination">
              {% if answers.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ answers.previous_page_number }}">Back</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ answers.previous_page_number }}">{{ answers.previous_page_number }}</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Back</a>
                  </li>
              {% endif %}

              <li class="page-item active">
                  <a class="page-link" href="#">{{ answers.number }} <span class="sr-only">(current)</span></a>
              </li>

              {% if answers.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ answers.next_page_number }}">{{ answers.next_page_number }}</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ answers.next_page_number }}">Next</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#">Next</a>
                  </li>
              {% endif %}
          </ul>
    </div>
{% endblock %}

{% block custom_javascript %}
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}
