{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block headerName %}
    <h1>Settings: W. Smith</h1>
{% endblock %}


{% block is_auth %}
    <ul class="navbar-form navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <img class="avatar-on-nav" src="{% static 'src/dog.jpg' %}">
                <span class="name-nav">
                    W. Smith
                </span>
                <span class="caret">
                </span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="{% url 'settings' %}">Settings</a></li>
              <li><a href="#">Sign out</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="main">
        <form class="form-horizontal" action="#" method="post">
            {% csrf_token %}
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group">
                        <label for="login">Login:</label>
                        <input type="text" class="form-control" id="login">
                    </div>

                    <div class="form-group">
                        <label for="nick">Nickname:</label>
                        <input type="text" class="form-control" id="nick">
                    </div>

                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>

                    <div class="form-group">
                        <label for="pwd_repeat">Repeat password:</label>
                        <input type="password" class="form-control" id="pwd_repeat">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Upload avatar:</label> <br>
                        <img class="avatar-on-nav" src="{% static 'src/dog.jpg' %}"> <br><br>
                        <input type="file" name="pic" accept="image/*">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success"/>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}