{% extends "base.html" %}
{% load static %}

{% block headerName %}
    <h3>Sign Up</h3>
{% endblock %}

{% block messages %}
    <div class="main">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="main">
        <form enctype="multipart/form-data" class="form-horizontal" action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <div class="col-md-6">
                <fieldset>

                    {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-success"/>
                    </div>

                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}